body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}


/*Styling the Header with Logo , Icons , Search Bar and Login and Sell Button*/

.header {
    flex: 1;
    background-color: rgb(255, 255, 255);
}


/* Styling of Top Left Icons */

.logo {
    width: 80px;
    height: auto;
    position: absolute;
    margin-left: 140px;
    margin-top: 10px;
}

.car {
    width: 35px;
    margin-top: 15px;
    position: absolute;
    margin-left: 300px;
}

.c-1 {
    font-size: 18x;
    font-weight: 700;
    margin-left: 350px;
    margin-top: 30px;
    position: absolute;
}

.property {
    width: 35px;
    height: 35;
    margin-top: 12px;
    position: absolute;
    margin-left: 520px;
}

.p-1 {
    font-size: 18px;
    font-weight: 700;
    margin-left: 570px;
    margin-top: 28px;
    position: absolute;
}


/*Styling the Search Bars */

 ::placeholder {
    font-size: 30px;
    position: absolute;
    margin-left: 10px;
    margin-top: 12px;
}

#country {
    width: 22vw;
    height: 4vh;
    border-radius: 5px;
    margin-left: 150px;
    background-image: url('/images/magnifier.jpg');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position-y: 7px;
    background-position-x: 6px;
    padding: 5px 65px;
    margin-right: 30px;
}

#search {
    width: 50vw;
    height: 4vh;
    border-radius: 5px;
    margin-left: 5px;
    position: absolute;
    background-image: url('/images/magnifier-2.JPG');
    background-size: 70px;
    background-repeat: no-repeat;
    background-position-y: px;
    background-position-x: 1140px;
    padding: 5px;
}

.login {
    position: absolute;
    margin-left: 1250px;
    font-size: 32px;
    margin-top: 12px;
    text-decoration: underline;
}

.sell {
    position: absolute;
    margin-left: 1340px;
    margin-top: -15px;
    width: 170px;
    height: 80px;
}


/*Styling the Main Body */

.main {
    flex: 8;
    background-color: rgb(255, 255, 255);
}

ul {
    display: flex;
    text-transform: capitalize;
    margin-left: 100px;
    list-style-type: none;
}

li {
    margin: 20px;
    font-size: x-large;
}

.front-banner {
    width: 100vw;
    position: absolute;
    height: 400px;
    background-color: aqua;
    background-image: url('/images/front-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -850px;
}

.content {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.content:hover {
    cursor: pointer;
}

.box {
    width: 550px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.5);
    margin-top: 500px;
}

#image1 {
    width: 100%;
    height: 60%;
    background-color: yellow;
    background-image: url('/images/u-supreme-massage-chair-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -60px;
}

#yellow {
    width: 20px;
    height: 240px;
    border-radius: 0 0 0 5px;
    background-color: rgb(223, 200, 0);
}

#yellow~p {
    color: rgb(0, 0, 0);
    font-size: xx-large;
    position: absolute;
    margin-top: -220px;
    margin-left: 30px;
}

#yellow~span {
    position: absolute;
    color: rgb(0, 0, 0);
    opacity: 0.7;
    margin-top: -160px;
    margin-left: 30px;
}

.heart {
    width: 40px;
    height: 40px;
    position: absolute;
    margin-top: -355px;
    margin-left: 500px;
}

.box-2,
.box-3,
.box-4 {
    margin-left: 30px;
}

.box-5,
.box-6,
.box-7,
.box-8 {
    margin-top: 50px;
    margin-left: 30px;
}

.footer {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 500px;
}

.mobile-app {
    width: 700px;
    height: 320px;
    margin-left: 100px;
}

h1 {
    margin-left: 850px;
    margin-top: -250px;
    font-size: 60px;
}

.mobile-app~p {
    font-size: 35px;
    margin-left: 850px;
}

.line {
    background-color: rgba(0, 0, 0, 0.3);
    width: 2px;
    height: 250px;
    margin-left: 1600px;
    margin-top: -250px;
}

h3 {
    margin-top: -200px;
    margin-left: 1650px;
    font-size: 32px;
}

.ios {
    width: 250px;
    height: 150px;
    margin-left: 1650px;
}

.playstore {
    width: 250px;
    height: 150px;
    margin-left: 50px;
}

.line2 {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 2px;
    margin-top: -180px;
    position: absolute;
}

table {
    margin-top: -150px;
    font-size: 20px;
    margin-left: 200px;
    text-align: left;
    padding: 10px;
}

td {
    margin: 100px;
    width: 400px;
    color: rgba(0, 0, 0, 0.5);
}

.follow-us {
    margin-top: -180px;
    margin-left: 1700px;
    height: 250px;
}

.last {
    background-color: black;
    width: 100vw;
    height: 70px;
}

.last>p {
    color: white;
    font-size: 20px;
    position: absolute;
    margin-top: 20px;
    margin-left: 1800px;
}